.List {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Item {
  display: flex;
}

.Link {
    position: relative;
    text-align: center;
    transition-duration: 0.25s;
    padding: 1.5rem 1rem;

  &:hover,
  &:active,
  &:focus, {
    color: #f8f9fa;  
    outline: none;

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    border-bottom: 1px #f8f9fa solid;
    margin-bottom: .5rem;
    bottom: 0;
    left: 0;
    position: absolute;
    transition-duration: 0.25s;
    width: 100%;

    content: '';
    transform: scaleX(0);
    transform-origin: center;
  }
}


.List {
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .List {
      flex-direction: row;
      flex-wrap: wrap;      
  }
}