.Button {
    background-color: #2780e3;
    border: none;
    color: #f8f9fa;
    cursor: pointer;
    height: 50px;
    font-family: inherit;
    font-size: 1.2em;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 1px;

    flex: 0 0 calc(50% - 2px);
    // max-width: 50%;
}