@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    width:100%;
    position: relative;
}

html {
  height:100%;
}

body {
  min-height:100%;
  padding:0;
  margin:0;
  position:relative; 
}

// #__next
body > div:first-child {
  height: 100%;
}
