:root {
    --button-backGround: #2780e3;
    --button-color: #f8f9fa;

    --footer-backGround: #2780E3;
    --footer-color: #f8f9fa;

    --brand-color: #f8f9fa;

    --link-color: #8c8c8c;
    --link-hover: #8c8c8c;

    --list-color: #999;

    --layout-backGround: #f8f9fa;

    --modal-header-borderBottom: #e5e5e5;
    --modal-footer-borderTop: #e5e5e5;


    --nav-backGround: #2780E3;
    --nav-link-focus-color: #f8f9fa;
    --nav-link-after-borderBottom: #f8f9fa;
    --nav-toggle-toggled-backGround: #f8f9fa;
    --nav-searchWrapper-color: #aaa;
    --nav-search-backGround: #fcfcfc;
    --nav-search-border: #aaa;
    --nav-search-boxShadow-one: #ccc;
    --nav-search-boxShadow-two: #ebebeb;  
    --nav-searchIcon-fill: #aaa;

    --tab-color: #8c8c8c;
    --tab-selected-color: #5e5e5e;
    --tab-selected-borderBottom: #2780e3;    

    --tabs-borderBottom: #8c8c8c;

    --textContainer-p-color: #999;
    --textContainer-header-color: #666;

    --formCard-card-backGround: #fafafa;
    --formCard-header-color: #5e5e5e;
    --formCard-fieldWrapper-color: #5e5e5e;
    --formCard-field-color: #666;
    --formCard-field-borderBottom: #e9e9e9;
    --formCard-field-focus-borderBottom: #c0c0c0;
    --formCard-multi-border: #e9e9e9;
    --formCard-multi-focus-border: silver;

    --html-color: #212b36;
    --html-backGround: #f4f6f8;

    --icon-svg-fill: #f8f9fa;

    --danger: #dc3545;
}