.svgWrapper {
    border: 1px solid hsla(0,0%,100%,.5);
    display: block;
    text-align: center;
    transition-duration: .2s;
    border-radius: 5px;
    
    &:hover, &:focus, &:active {
        transform: scale(1.1);
      }

    svg {
        fill: #f8f9fa;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        margin: 5px;
    }
}