.Footer {
    padding: 1.15rem 1.25rem 1.25rem;    
    margin-top: 1.25rem;
    border-top: 1px solid var(--modal-footer-borderTop);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonGroup {
    display: flex;
}

.buttonWrapper {
    margin-left: .5rem;
}