.Modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;
    border-radius: 0;    
}

.backDrop {
    background: rgba(0,0,0,.5);
}

.test {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.containerWrapper {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {
    .containerWrapper {
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

    .body {
        border-radius: 3px;
        height: 100%;        
    }

    .Modal {
        justify-content: center;
    }
}


.slideInUp {
    transform: translateY(0);
    transition: all ease .3s;
    opacity: 1;
  
    &.entering,
    &.exiting,
    &.exited {
      opacity: 0;
      transform: translateY(100%);
    }
  
    &.entered {
      opacity: 1;
      transform: translateY(0);
    }
  }


// .slideInUp {
//     animation-duration: .75s;
//     animation-name: slideInUp;
//   }

// @keyframes slideInUp {
//     from {
//         transform: translate3d(0, 100%, 0);
//         visibility: visible;
//     }

//     to {
//         transform: translate3d(0, 0, 0);
//     }
// }
  
