.List {
    padding: .5em 2em;
    margin: 0;
    line-height: 1.6;
    font-size: 1em;
    color: var(--link-color);

    li {
        padding: 5px;
    }
}

.discList {
    list-style-type: disc;
}

.armenianList {
    list-style-type: armenian;
}

.circleList {
    list-style-type: circle;
}

.cjk-ideographicsList {
    list-style-type: cjk-ideographics;
}

.decimalList {
    list-style-type: decimal;
}

.decimal-leading-zeroList {
    list-style-type: decimal-leading-zero;
}

.georgianList {
    list-style-type: georgian;
}	

.hebrewList {
    list-style-type: hebrew;
}

.hiraganaList {
    list-style-type: hiragana;
}

.hiragana-irohaList {
    list-style-type: hiragana-iroha;
}

.katakanaList {
    list-style-type: katakana;
}	

.katakana-irohagList {
    list-style-type: katakana-irohag;
}

.lower-alphaList {
    list-style-type: lower-alpha;
}

.lower-greekList {
    list-style-type: lower-greek;
}

.lower-latinList {
    list-style-type: lower-latin;
}

.lower-romanList {
    list-style-type: lower-roman;
}	

.noneList {
    list-style-type: none;
}	

.squareList {
    list-style-type: square;
}	

.upper-alphaList {
    list-style-type: upper-alpha;
} 	

.upper-greekList {
    list-style-type: upper-greek;
}

.upper-latinList {
    list-style-type: upper-latin;
}

.upper-romanList {
    list-style-type: upper-roman;
}
