.FieldWrapper {
    width: 100%;
    border: 0 none;
    color: var(--formCard-fieldWrapper-color);
    text-align: left;
    margin: 0;
    padding: 0;   
    margin-bottom: 1.2rem;
}

.field {
    background-color: inherit;
    border: none;
    color: var(--formCard-field-color);
    font-family: inherit;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
    border-bottom: 2px solid var(--formCard-field-borderBottom); 
    
    &:focus {
        border-bottom: 2px solid var(--formCard-field-focus-borderBottom);
        outline: none;
    }
}

.header {
    line-height: normal;
}
  

.multi {
    resize: none;
    border: 2px solid var(--formCard-multi-border);
    margin-top: 10px;    
    height: auto;

    &:focus {
        border: 2px solid var(--formCard-multi-focus-border);
    }
}