.ToggleWrapper {
	display: flex;
	align-items: center;
}

.top,
.middle,
.bottom, {
	height: 2px;
	width: 20px;
	background: hsla(0,0%,100%,.5);
	transition: all .7s ease;
	margin: 4px auto;

	.Toggle:hover &,
	.toggled & { 
		background-color: #f8f9fa;
	}
}

.Toggle:hover,
.Toggle:focus,
.Toggle:active,
.toggled {
	.top {
		transform: translateY(6px) rotateZ(45deg);
	}

	.middle {
		width: 0;
	}

	.bottom {
		transform: translateY(-6px) rotateZ(-45deg);
	}
}

.smallCollapse {
	display: flex;
}

@media (min-width: 768px) {
    .smallCollapse {
        display: none;
    }
}
