@import url(https://fonts.googleapis.com/css?family=Raleway);

.Nav {
  width: 100%;
  background-color: var(--nav-backGround);
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Raleway', sans-serif;

  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}

.fixedNav {
  position: fixed;
  top: 0;
}
