.Brand {
    color: #f8f9fa;
    padding: 1.25rem;
	font-size: 2rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.brandWrap {
	white-space: normal;
}

.Link {
	&:focus,
	&:active,
	&:hover {
			color: hsla(0,0%,100%,.5);
			outline: none;
	}
}