.FormCard {
    padding: 2rem 0;
}

.rightText {
    text-align: right;
}

.leftText {
    text-align: left
}

.centerText {
    text-align: center;
}

.card {
    background: var(--formCard-card-backGround);
    margin: 6em auto;
    max-width: 370px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.form {
    padding: 2rem;
}

.header {
    text-align: center;
    padding: 0 1em;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Oswald,sans-serif;
    color: var(--formCard-header-color);
}