.FormCard {
    background: #fafafa;
    margin: 6em auto;
    padding: 1em 0;
    max-width: 370px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.form {
    padding: 2.4rem;
}

.header {
    text-align: center;
    padding: 0 1em;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Oswald,sans-serif;
    color: #5e5e5e;
}