.Spinner {
    height: 100%;
    width: auto;
    border: 3px var(--spinner-border) solid;
    border-top-color: var(--spinner-borderTop);
    border-radius: 50%;
    display: block;
    animation: rotate 1s ease infinite;
}

.smallSpinner {
    height: 3rem;
    width: 3rem;    
}

.mediumSpinner {
    height: 4rem;
    width: 4rem;        
}

.largeSpinner {
    height: 5rem;
    width: 5rem;    
}

.smallSpinner,
.mediumSpinner,
.largeSpinner {
    display: block;
}

@keyframes rotate {
    to {
        border-top-color: var(--danger);
        transform: rotate(360deg);
    }
}